*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;

}

body{
    background-image: url(https://images.unsplash.com/photo-1548263594-a71ea65a8598?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: center; 
}

.navbar{

    background-color: rgba(247, 187, 172, 0.61);
    text-align:right;
    position: sticky;
    /* border-radius: 15px; */


}

.navbar ul {
    list-style: none;
    display: inline-flex;
    color: black;

}
.navbar ul li {
    margin: 10px;
    padding: 10px;

}

.navbar ul li a{
    /* text-decoration: none; */
    color: black;
}

.navbar ul li:hover {
    background-color: thistle;
    border-radius: 4px;

}

.navbar .fa{
    margin-right: 8px;
}

/* first dropdown */
.firstDD{
    display: none;
}

.navbar ul li:hover .firstDD{
    display: inline-block;
    position: absolute;
    background-color:rgb(247, 187, 172, 0.61);
    margin-top: 30px;
    margin-left: -120px;
    /* margin-right: 100px; */
}

.navbar ul li:hover .firstDD ul {
    display: block;
    margin: 5px;
}

.navbar ul li:hover .firstDD ul li {
    width: 100px;
    padding: 10px;

}

/* .navbar ul li:hover .firstDD ul li a:hover{
    color: rgb(0, 0, 0);
} */

.fa-angle-left {
    float: left;
}


.secondDD{
    display: none;
}

.hoverme:hover .secondDD{
    display: inline-block;
    position: absolute;
    background-color:rgb(247, 187, 172, 0.61);
    margin-top: -5px;
    margin-left: -230px;
    padding: 5px;
}

/* navbar end */
/* body */
h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
    background-color:rgba(247, 187, 172, 0.459);
    width: 60%;
    /* height: 40%; */
    margin: auto;
    padding: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* footer */
footer{
    margin: auto;
    padding: 10px;
}